/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;
$image-width : 400px;
$image-left-value : calc(50% - 200px);
/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  height : 100%;
  width: 100%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  //background-color: #ffffff;
  //background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23d0eceb' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23d0eceb' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

.full-height, .app-wrapper, #app, html {
  height : 100%;
  width: 100%;
}

.app-wrapper {
  .top-section {
    transition: background-color 1s linear;
    .name {
      padding-top: 20%;
      font-size: 75px;
      line-height: 75px;
      margin-left: 100px;
      transition: none;
      mix-blend-mode: difference;
      font-family: 'Cherry Cream Soda', cursive;
      font-weight: 600;
    }
    .designation {
      font-size: 25px;
      margin-top: 25px;
      margin-left: 100px;
      transition: none;
      mix-blend-mode: difference;
      font-weight: 400;
    }
  }
  .about-me {
    max-width: 1100px;
    margin: 100px auto;
    .title {
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 40px;
    }
    .content {
      font-size: 18px;
      line-height: 35px;
      font-weight: 300;
      color: black;
    }

    .social-links {
      margin-top: 30px;
      text-align: center;
      .item {
        margin-left: 40px;
        cursor: pointer;
        &.git-hub {
          color: #a38aa3;
        }
        &.linked-in {
          color: #025d8e;
        }
        &.mail {
          color: #b32314;
        }
        &.twitter {
          color: #38557a;
        }
        &:hover {
          font-weight: 600;
          transition: font-weight 0.5s;
        }
        img {
          height: 20px;
        }
        span {
          position: relative;
          bottom: 5px;
          margin-left: 5px;
        }
      }
    }
  }

  .my-photo {
    max-width: 1100px;
    height: 400px;
    margin: 100px auto;
    .blur {
      -webkit-filter: blur(20px);
      filter: blur(20px);
    }
    img {
      max-width: 1100px;
      position: absolute;
      height: $image-width;
      z-index: 1;
      left: $image-left-value;
    }
    .image-to-show {
      border-radius: 4px;
    }
  }
  .skills-section {
    max-width: 1100px;
    margin: 100px auto;
      .title {
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 80px;
      }
      .content {
        .skill-graph {
          margin-bottom: 50px;
          .label {
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 18px;
          }

          .graph-division {
            height: 10px;
            width: 100%;
            background: #efefef;
            .filler {
              width: 80%;
              height: 100%;
              transition: width 2s ease-out;
              background: rgba(212,228,239,1);
              background: linear-gradient(to right, #6d3f80 0%, #c586cc 70%, #eed4ef 100%);
            }
          }
        }
      }
  }
}

header {
  min-height: 60px;
}
td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }
